body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #E3DFFD;
    color: #000;
}
label{
    display: inline-block;
    /* background-color: #68e342; */
    margin: 0.5rem 0;
}